<?xml version="1.0"?>
<model xmlns="http://www.neeveresearch.com/schema/x-ddl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <buses>
        <bus name="processor" descriptor="${processor.bus.descriptor::direct://processor}">
            <channels>
                <channel name="requests" id="1"/>
            </channels>
        </bus>
    </buses>

    <apps>
        <app name="processor" mainClass="com.neeve.samples.dbintegration.cdc.app.App">
            <messaging>
                <factories>
                    <factory name="com.neeve.samples.dbintegration.cdc.app.messages.MessageFactory"/>
                </factories>
                <bus name="processor">
                    <channels>
                        <channel name="requests" join="true"/>
                    </channels>
                </bus>
            </messaging>
            <storage enabled="true">
                <checkpointingType>Default</checkpointingType>
                <checkpointThreshold>1</checkpointThreshold>
                <persistence enabled="true">
                    <flushOnCommit>true</flushOnCommit>
                    <cdcEnabled>true</cdcEnabled>
                </persistence>
                <persistenceQuorum>1</persistenceQuorum>
            </storage>
            <clusterHeartbeatInterval>1000</clusterHeartbeatInterval>
        </app>

        <app name="runner" mainClass="com.neeve.samples.dbintegration.cdc.runner.App">
            <storage enabled="true">
                <factories>
                    <factory name="com.neeve.samples.dbintegration.cdc.app.state.StateFactory"/>
                </factories>
            </storage>
        </app>

        <app name="driver" mainClass="com.neeve.samples.dbintegration.cdc.driver.App">
            <messaging>
                <factories>
                    <factory name="com.neeve.samples.dbintegration.cdc.app.messages.MessageFactory"/>
                </factories>
                <bus name="processor">
                    <channels>
                        <channel name="requests" join="false"/>
                    </channels>
                </bus>
            </messaging>
        </app>
    </apps>

    <xvms>
        <templates>
          <xvm name="xvm-template">          
            <heartbeats enabled="true" interval="10">
                <tracing enabled="true">
                    <traceAdminClientStats>false</traceAdminClientStats>
                    <traceAppStats>false</traceAppStats>
                    <tracePoolStats>false</tracePoolStats>
                    <traceSysStats>false</traceSysStats>
                    <traceThreadStats>false</traceThreadStats>
                    <traceUserStats>true</traceUserStats>
                </tracing>
            </heartbeats>
          </xvm>
        </templates>
        
        <xvm name="processor" template="xvm-template">
            <apps>
                <app name="processor" autoStart="true"/>
            </apps>           
        </xvm>

        <xvm name="runner" template="xvm-template">
            <apps>
                <app name="runner" autoStart="true"/>
            </apps>           
        </xvm>

        <xvm name="driver" template="xvm-template">
            <apps>
                <app name="driver" autoStart="true"/>
            </apps>          
        </xvm>
    </xvms>
</model>
